@charset "UTF-8";

:root {
    --cor0: #0474EA;
    --cor1: #246FC0;
    --cor2: #356496;
    --cor3: #38516B;
    --cor4: #2C3641;
    --cor5: #2C2F33;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--cor0);
}

p {
    color: var(--cor2);
}

header {
    text-align: center;
}

main {
    max-width: 800px;
    min-width: 320px;

    border-radius: 5px;
    padding: 35px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.503);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

article {
    margin: 25px;
}

textarea, input {
    border-radius: 5px;
}

textarea {
    resize: none;
}

footer {
    text-align: center;
}

footer input {
    padding: 5px;
}

footer input:hover {
    transition-duration: .5s;
    padding: 7px;
}

#inicial input{
    display: block;
}

#experi {
    text-align: center;
    color: var(--cor2);
}

.subtitulos {
    color: var(--cor2);
}